.post-card {
    display: flex;
    flex-direction: column;
    min-width: 95%;
    border-radius: 5px;
    margin: 15px;
    background-color: var(--light);
    box-shadow: 1px 2px 6px 1px #303135b0;
  }

  .post-body, .post-name, .post-actions {
    margin: 10px;
  }
  
  .post-body {
    padding: 25px;
  }
  
  .post-actions {
    border-top: 1px solid #2324247e;
  }
  
  .post-name {
    border-bottom: 1px solid #2324247e;
    padding-bottom: 15px;
  }
  .post-profile-pic {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .post-profile-name {
    cursor: pointer;
  }
  
  .post-date {
    font-size: 12px;
  }
  
  .post-button {
    margin: 15px;
    width: 22px;
    height: auto;
    cursor: pointer;

  }

  .rotate {
    rotate: 90deg;
  }

  .green {
    color: green;
    box-shadow: 0px 0px 10px 3px #00ff00ff;
    border-radius: 99px;
  }
  
  .red {
    color: red;
    box-shadow: 0px 0px 10px 3px #ff0000ff;
    border-radius: 99px;
  }

  .comment-section {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .new-comment {
    border: var(--base) 1px solid;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 9px;
    margin: -12px 12px 12px 12px;
    resize: none;
    min-width: 83vw;
  }

  .post-comment-icon {
    cursor: pointer;
    margin: -12px 6px 12px 0;
    width: 24px;
    height: auto;
  }

  .comment-submit {
    cursor: pointer;
    margin: -12px 6px 12px 0;
    width: 24px;
    height: auto;
  }